.kisisel-gun-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #F8EDED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#kisisel-gun-form.kisisel-gun-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kisisel-gun-form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

#kisisel-gun-form input[type="text"],
#kisisel-gun-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #F7E7DC;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

#kisisel-gun-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #FF8225;
    color: #FFF1DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#kisisel-gun-form input[type="submit"]:hover {
    background-color: #FF8225;
}

#kisisel-gun-result.kisisel-gun-result {
    margin-top: 20px;
    font-size: 1.2em;
}

#kisisel-gun-result img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.download-button.kisisel-gun-download-button,
.return-button.kisisel-gun-return-button,
.cta-button.kisisel-gun-cta-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FF8225;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1em;
}

.download-button.kisisel-gun-download-button:hover,
.return-button.kisisel-gun-return-button:hover,
.cta-button.kisisel-gun-cta-button:hover {
    background-color: #FF8225;
}

.cta-button.kisisel-gun-cta-button {
    background-color: #FF8225;
    margin-top: 20px;
}

.cta-button.kisisel-gun-cta-button:hover {
    background-color: #FF8222;
}
